								{% load static %}
								<section id="banner">
									<div class="content">
										<h3 align="center">Employee Records</h3>
										<table align="center">
											<tr>
												<th>Image</th>
												<th>Name</th>
												<th>Employee ID</th>
												<th>Age</th>
												<th>Email</th>
												<th>Phone Number</th>
												<th>Update</th>
												<th>Delete</th>
											</tr>
											{% for emp in data %}
												<tr>
													{% static "" as baseUrl %}
													<td><img src="{{baseUrl}}images/{{emp.photo}}" height="40" width="50"></td>
													<td>{{emp.name}}</td>
													<td>{{emp.number}}</td>
													<td>{{emp.age}}</td>
													<td>{{emp.email}}</td>
													<td>{{emp.phone}}</td>
													<td><button><a href="/update/{{emp.number}}">Update</a></button></td>
													<td><button><a href="/delete/{{emp.number}}">Delete</a></button></td>	
												</tr>
											{% endfor %}
										</table>
										
								</section>